:root {
    --e2e-primary: #17a2b8;
}

.e2es-title-bar {
	padding: 40px;
    background: url(https://d1yk15rmevjth9.cloudfront.net/media/image/996db35c-56bc-4f63-86ad-b6cba4767d86/image.jpg);
    background-color: rgba(0,0,0,0.2);
    background-size: cover;
    background-position: center;
    display: flex;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 40px;
    background-blend-mode: multiply;
	flex-direction: column;

}




.e2es-title-bar h1, .e2es-title-bar p {
	color: #FFF;
	margin: unset;
}

.nav-tab-wrapper, .wrap h2.nav-tab-wrapper, h1.nav-tab-wrapper {
	border-bottom: unset;
}

.e2es-tab-content {
	background: #FFF;
	padding: 1rem;
	border-radius: 8px;
	border: 1px solid #c3c4c7;
}

.e2es-content-main .nav-tab {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.e2es-content-main .submit {
	padding-bottom: unset;
	margin: unset;
}

.e2es-content-main .button-primary {
	    background: var(--e2e-primary);
    border: var(--e2e-primary);
    border-radius: 8px;
    padding: 0.2rem 1rem;
    font-size: 1.2rem;
}

.e2es-content-main .nav-tab-active {
	
    background: var(--e2e-primary);
    color: #FFF;
}

.e2es-tab-content .form-table th {
	padding: 10px 10px 10px 0;
}

.e2es-tab-content .form-table td {
	padding: 10px;
}

.e2es-tab-content h2 {
	margin-top: unset;
}

.e2es-content-wrapper {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.e2es-content-main {
    display: table-cell;
    vertical-align: top;
}

.e2es-content-side {
    width: 300px;
    padding-left: 20px;
    display: table-cell;
    margin: 0;
}

.accordion-toggle {
  color: #444;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
    margin: unset;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.accordion-toggle:hover {
  background-color: #ccc;
}

.accordion-content {
	padding: 0 18px;
	display: none;
}

.e2es-accordion {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: rgb(32 33 36 / 28%) 0px 1px 6px;
    margin-bottom: 1rem;
}

.container > .switch {
    display: block;
    margin: 12px auto;
}

.switch {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 56px;
    height: 20px;
    padding: 3px;
    background-color: white;
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #eeeeee, white 25px);
    background-image: -moz-linear-gradient(top, #eeeeee, white 25px);
    background-image: -o-linear-gradient(top, #eeeeee, white 25px);
    background-image: linear-gradient(to bottom, #eeeeee, white 25px);
}

.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #eceeef;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
    -webkit-transition-property: opacity background;
    -moz-transition-property: opacity background;
    -o-transition-property: opacity background;
    transition-property: opacity background;
}
.switch-label:before, .switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}
.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #aaa;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
}
.switch-input:checked ~ .switch-label {
    background: #47a8d8;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
    opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
    opacity: 1;
}

.switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
    background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
    background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
    background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}
.switch-handle:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: #f9f9f9;
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
    background-image: -webkit-linear-gradient(top, #eeeeee, white);
    background-image: -moz-linear-gradient(top, #eeeeee, white);
    background-image: -o-linear-gradient(top, #eeeeee, white);
    background-image: linear-gradient(to bottom, #eeeeee, white);
}
.switch-input:checked ~ .switch-handle {
    left: 40px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-green > .switch-input:checked ~ .switch-label {
    background: #4fb845;
}
