:root {
    --e2e-primary: #17a2b8;
}


.CodeMirror {
    border: 1px solid #ddd;
}


body {
        background: white !important;
      }

body a {
color: var(--e2e-primary) !important;
}

#login h1 a, .login h1 a {
    background-image: url('/wp-content/plugins/e2es-headers-master/assets/images/e2e-logo.png');
    background-repeat: no-repeat;
    height: 70px;
    width: 250px;
    background-size: contain;
}
.login form {
    border-radius: 5px;
}

.wp-core-ui .button-primary {
    background: var(--e2e-primary) !important;
    border-color: var(--e2e-primary) !important;
}

.login #login_error, .login .message, .login .success {
border-left: 5px solid var(--e2e-primary) !important;
}
